# Django
SECRET_KEY=your-secret-key-here
DEBUG=True

# Database PostgreSQL
DB_NAME=ask_me
DB_USER=postgres
DB_PASSWORD=04092014vfif
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_DB=0
REDIS_BROKER_DB=1
REDIS_BEAT_DB=2

# Centrifugo
CENTRIFUGO_URL=http://localhost:8001
CENTRIFUGO_API_KEY=your-super-secret-centrifugo-key-minimum-32-chars-long

# Email (MailHog)
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=noreply@askme.com